.faq {
    display: grid;
    grid-template-columns: 5fr 5fr;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), rgba(82, 82, 82, 0.7);
    min-height: 100vh;
    min-width: 600px;
}

.icon-nl-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 7rem;
    height: 7rem;
    border-radius: 50%
}

.wrapper-titulo {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url('../assets/fundo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    box-sizing: border-box;
    padding: 4rem;
    transition: 1s;
}

.logo-g-b {
    width: 25rem;
    cursor: pointer;
    transition: 1s;
}

.wrapper-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.wrapper-filtro {
    display: flex;
    justify-content: space-around;
    padding: 1rem 4rem;
    position: sticky;
    gap: 2rem;
    top: 0;
    z-index: 10;
}

.btn {
    background-color: #FFF;
    color: #414141;
    border-radius: .5rem;
    border: none;
    padding: 0 2rem;
    font-weight: 700;
    font-size: 1.08rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color:#FFF ;
    color: #414141;
}

.wrapper-filtro > div {
    width: 100%;
}

.filtroFAQ {
    width: 25rem;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    border: 1px solid gray !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none !important;
}

.container-busca {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-busca > label {
    color: #FFF;
    font-weight: 500;
}

.container-faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    flex: 1;
    padding: 0 4rem 2rem;
    scrollbar-width: thin;
    scrollbar-color: #FFF gray;
    height: calc(100vh - [altura-do-filtro]);
    margin-top: 2rem;
}

.container-faq::-webkit-scrollbar {
    width: 8px;
}
.container-faq::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.icon-faq {
    width: 10rem;
    height: auto;
    transition: 1s;
}

.titulo-faq {
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 0 2rem;
    transition: 1s;
}

.back {
    box-shadow: 3px 4px 5px gray;
    text-decoration: none;
    cursor: pointer;
    color: #393939;
    font-size: 1.2rem;
    background-color: #FFF;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.back:hover {
    transform: scale(1.1);
}

.item-faq {
    font-size: 1.1rem;
}

.check-faq {
    width: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}

.summary-faq {
    color: #f8f8f8;
    font-weight: 700;
    margin-bottom: 0.5rem;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
}

.summary-faq::before {
    content: "+";
    position: absolute;
    left: 0;
    transition: transform 0.2s ease;
}

.detalhe-faq[open] .summary-faq::before {
    content: "−";
}

.respostas-faq-wrapper {
    display: flex;
    align-items: start;
}

.respostas-faq {
    color: #eeeeee;
    text-align: justify;
    line-height: 1.2;
}

.faq-image {
    max-width: 30rem;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.imagem-faq-wrapper {
    margin-top: 10px;
    margin-left: 30px;
}

@media (max-width: 1100px) {
    .icon-nl-faq {
        width: 5rem;
        height: 5rem;
    }
    
    .icon-faq{
        width: 4rem;
        height: auto;;
    }
    .filtroFAQ {
        width: 25rem;
    }
    .titulo-faq {
        font-size: 1.2rem;
    }

    .logo-g-b {
        width: 10rem;
        cursor: pointer;
        transition: 1s;
    }

    .icon-faq {
        width: 3.5rem;
        height: auto;
    }

    .btn {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    .faq {
        grid-template-columns: 1fr;
        min-width: 314px;
    }

    .wrapper-main {
        width: 100vw;
    }

    .sv {
        width:8rem;
        height: auto;
    }

    .icon-faq {
        width: 5rem;
        height: auto;
    }

    .titulo-faq {
        font-size: 1.5rem;
    }

    .back {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 1rem;
    }

    .item-faq  {
        font-size: 0.9rem;
    }
}